# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# Environments
.env/
venv/
ENV/
env/

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
